<div class="main-content min-h-screen flex justify-center px-4 pb-24 sm:px-6 lg:px-8">
  <div class="w-full max-w-screen-xl p-4">
    <h1 class="text-4xl font-extrabold text-gray-900 mt-4 mb-8 text-center">
      {{ 'songs.title' | translate }}
    </h1>
    <!-- Song cards -->
    <ng-container *ngIf="!loading else loadingContent">
      <div class="grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));">
        <p-card (click)="navigateToDetail(song.id)" *ngFor="let song of songs" [header]="song.title" class="h-card cursor-pointer" [style]="{ height: '485px' }">
          <ng-template pTemplate="header">
            <img alt="{{ song.title }}" [src]="song.poster" class="w-full h-48 object-cover" />
          </ng-template>
          <div class="card-body flex flex-col justify-between">
            <p class="artist-text text-gray-800 font-bold">{{ artists[song.artist].name }}</p>
            <div class="genre-chips">
              <p *ngFor="let genre of song.genre">
                <p-chip [label]="genre"></p-chip>
              </p>
            </div>
            <div class="flex justify-between">
              <p class="text-gray-600">{{ 'songs.year' | translate }}: {{ song.year }}</p>
            </div>
          </div>
          <ng-template pTemplate="footer">
            <div class="flex justify-between items-center">
              <div class="flex gap-3 mt-2">
                <p-rating [ngModel]="song.rating / 2" [readonly]="true" [cancel]="false" />
                <p class="mt-[-2px]">({{song.rating}})</p>
              </div>
              <p-tag severity="contrast" value={{formatSongDuration(song.duration)}} />
            </div>
          </ng-template>
        </p-card>
      </div>
    </ng-container>

    <!-- Loading skeleton -->
    <ng-template #loadingContent>
      <div class="grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));">
        <div *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8]" class="w-[300px] h-[485px]">
          <p-skeleton height="192px" styleClass="mb-6" />
          <div class="px-4">
            <p-skeleton height="35px" width="10rem" styleClass="mb-2" />
            <p-skeleton height="35px" width="5rem" styleClass="mb-2" />
            <p-skeleton height="20px" width="8rem" styleClass="mb-1" />
            <div class="flex mb-12">
              <div *ngFor="let _ of [1, 2, 3]">
                <p-skeleton height="30px" width="4rem" styleClass="mr-2" borderRadius="16px" />
              </div>
            </div>
            <p-skeleton height="20px" width="6rem" styleClass="mb-7" />
            <div class="flex mb-12 justify-between">
              <p-skeleton height="20px" width="10rem" />
              <p-skeleton height="20px" width="4rem" />
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- Not Found -->
    <div *ngIf="notFound" class="text-center text-gray-700 text-xl mt-10">
      {{ 'songs.not-found' | translate }}
    </div>
    <!-- Error -->
    <div *ngIf="error" class="text-center text-gray-700 text-xl mt-10">
      {{ 'errors.song-list' | translate }}
    </div>
  </div>
</div>
